.request-page{
    min-height:100vh;
    display:flex;
    background:#f5f7fb;
}

.request-left{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:80px;
    background:linear-gradient(135deg,#2563eb,#4f46e5);
    color:white;
}

.mini-title{
    font-size:14px;
    letter-spacing:2px;
    text-transform:uppercase;
    opacity:.8;
}

.request-left h1{
    font-size:54px;
    margin:20px 0;
}

.request-left p{
    font-size:18px;
    line-height:1.7;
    max-width:450px;
}

.request-right{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.request-card{
    width:420px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

.request-icon{
    font-size:55px;
    color:#2563eb;
    margin-bottom:20px;
}

.request-card h2{
    margin-bottom:25px;
}

.request-card input{
    width:100%;
    padding:15px;
    margin-bottom:18px;
    border:1px solid #d1d5db;
    border-radius:10px;
    font-size:16px;
}

.request-card button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    margin-top:12px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
}

.request-card button:first-of-type{
    background:#2563eb;
    color:white;
}

.back-btn{
    background:#e2e8f0 !important;
    color:#334155 !important;
}